.btn {
  display: inline-block;
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  transition: 0.2s color ease-in;
  text-decoration: none;
}

.btn--primary {
  background: rgb(16, 18, 102);
}

.btn--secondary {
  background: rgb(139, 43, 43);
}

.btn--alert {
  border-radius: 0.5rem;
  background: #ffe6e6;
  color: #450707;
}

.btn--primary:hover {
  background: rgb(4, 5, 43);
}
