.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.description {
  font-style: italic;
  font-size: 1.5rem;
}
