.option {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionLabel {
  font-size: 28px;
  margin-right: 100px;
  color: rgb(164, 164, 164);
}

.selectedOption {
  color: rgb(0, 0, 0);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  position: absolute;
}

input[type="radio"]:focus {
  outline: none;
}

input[type="radio"] + span {
  display: inline-block;
  cursor: pointer;
}

.line {
  height: 2px;
  background-color: #ccc;
  margin-top: 10px;
}

.lineRent {
  background-color: rgb(0, 0, 0);
}

.lineSale {
  background-color: rgb(0, 0, 0);
}
