.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 0;
  width: 45%;
}

.img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.address,
.price,
.sold,
.buildYear,
.surface,
.agency {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}

.form {
  display: flex;
}
.infoWrapper {
  display: flex;
}

.address,
.surface {
  margin-right: 40px;
}

.change {
  margin-top: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 35%;
}

.btn:hover {
  transform: scale(1.05);
}

.linkBack {
  font-size: 24px;
  display: flex;
  margin-left: 80px;
  margin-bottom: 30px;
  width: 150px;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #f5f5f5;
  margin-right: 5px;
  margin-left: 2px;
  width: 200px;
}

.title {
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 24px;
  background-color: #f5f5f5;
  margin-right: 5px;
  margin-left: 2px;
  width: 95%;
}

.title:focus,
.descriptionInput:focus {
  width: 95%;
}

.description {
  border: none;
  border-radius: 5px;
  padding: 6px 12px;

  background-color: #f5f5f5;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.descriptionInput {
  font-size: 19px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-right: 5px;
  margin-left: 2px;
  width: 95%;
  height: 40px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-top: 4px;
  margin-right: 5px;
  pointer-events: auto;
}

.updateBtn,
.deleteBtn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  margin-top: 23px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background: #181818;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.updateBtn:hover {
  transform: scale(1.05);
}

.deleteBtn {
  position: absolute;
  top: 8%;
  right: 4%;

  margin: 0;
  background-color: #e61919;
}

.deleteBtn:hover {
  transform: scale(1.05);
}
